env {
    WORKFLOW_RESULTS_DIR = 'results'
}

conda {
    cacheDir = "$PWD/envs"
    createTimeout = "1 h"
}

process {
    executor='lsf'
    queue='production-rh74'
    clusterOptions = '-R \"select[hname!=\'hx-noah-08-08\']\"'
}

executor {
    queueSize=500
    perJobMemLimit=true
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

params {
    pipeline{
	datasets = "\"E-MTAB-5061,E-GEOD-81608,E-ENAD-27,E-GEOD-81547\""
    }
    de {
    	use_genes = "True"
    	celltype = "\"beta cell\""
    	datasets = "\"E-MTAB-5061,E-GEOD-81608,E-ENAD-27\""
    	design = "\"~sex+dataset+disease\""
    	pseudobulk = "True"
    }
    plot {
	correct_covariates = "False"
    }
}


